<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="toc-features.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/web-isabelle-eclipse.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/first-steps-isabelle-eclipse.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overview-isabelle-eclipse.xml">
      </configExtension>
   </extension>

</plugin>
