<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="isabelle.eclipse.ui.editors.TheoryEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="thy"
            icon="icons/isabelle_file.gif"
            id="isabelle.eclipse.ui.theoryEditor"
            name="Isabelle/Isar Theory Editor"
            symbolicFontName="isabelle.eclipse.ui.theoryEditorFont">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="isabelle.eclipse.ui.views.RawOutputConsoleFactory"
            icon="icons/isabelle.png"
            label="Isabelle Raw Output">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="isabelle.eclipse.ui.views.RawOutputConsoleParticipant"
            id="isabelle.eclipse.ui.rawOutputConsoleParticipant">
         <enablement>
            <instanceof
                  value="org.eclipse.ui.console.MessageConsole">
            </instanceof></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="isabelle.eclipse.ui"
            name="Isabelle">
      </category>
      <view
            allowMultiple="true"
            category="isabelle.eclipse.ui"
            class="isabelle.eclipse.ui.views.ProverOutputView"
            icon="icons/prover_output.png"
            id="isabelle.eclipse.ui.proverOutputView"
            name="Prover Output"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="isabelle.eclipse.ui"
            class="isabelle.eclipse.ui.views.IsabelleSymbolsView"
            icon="icons/symbols.png"
            id="isabelle.eclipse.ui.symbolsView"
            name="Symbols"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="isabelle.eclipse.ui.isabelleTheme"
            label="Isabelle">
         <description>
            Theme configuration for Isabelleeditors and views
         </description>
      </themeElementCategory>
      <fontDefinition
            categoryId="isabelle.eclipse.ui.isabelleTheme"
            id="isabelle.eclipse.ui.theoryEditorFont"
            label="Theory Editor Text Font"
            value="IsabelleText-regular-12">
         <description>
            Font used by Isabelle theory editor and views to display text with Isabelle mathematical symbols.
         </description>
      </fontDefinition>
   </extension>
   <extension
         id="markerProblem"
         name="Isabelle Proof Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         id="markerLegacy"
         name="Isabelle Legacy Warning"
         point="org.eclipse.core.resources.markers">
      <super
            type="isabelle.eclipse.ui.markerProblem">
      </super>
   </extension>
   <extension
         id="markerInfo"
         name="Isabelle Proof Info"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.quickDiffReferenceProvider">
      <referenceprovider
            class="isabelle.eclipse.ui.editors.IsabelleQuickDiffReference"
            id="isabelle.eclipse.ui.quickDiff"
            label="Isabelle Formatted Version on Disk">
      </referenceprovider>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="isabelle.eclipse.ui.annotation.legacy"
            icon="icons/legacy.gif"
            textPreferenceKey="legacyIndication"
            presentationLayer="5"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceValue="true"
            label="Legacy Warnings"
            colorPreferenceKey="legacyIndicationColor"
            showInNextPrevDropdownToolbarActionKey="showLegacyInNextPrevDropdownToolbarAction"
            quickFixIcon="$nl$/icons/full/obj16/quick_fix_warning_obj.gif"
            isGoToNextNavigationTargetKey="isLegacyGoToNextNavigationTarget"
            isGoToNextNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="isLegacyGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            textStylePreferenceKey="legacyTextStyle"
			textStylePreferenceValue="PROBLEM_UNDERLINE"             
            overviewRulerPreferenceKey="legacyIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="legacyIndicationInVerticalRuler"
            verticalRulerPreferenceValue="true"
            highlightPreferenceKey="legacyIndicationHighlighting"
            highlightPreferenceValue="false"
            contributesToHeader="true"
            colorPreferenceValue="244,200,45">
      </specification>
      <specification
            annotationType="isabelle.eclipse.ui.annotation.tracing"
            textPreferenceKey="tracingMessage"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceValue="true"
            label="Tracing Messages"
            colorPreferenceKey="tracingMessageColor"
            showInNextPrevDropdownToolbarActionKey="showTracingInNextPrevDropdownToolbarAction"
            isGoToNextNavigationTargetKey="isTracingGoToNextNavigationTarget"
            isGoToNextNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="isTracingGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            textStylePreferenceKey="tracingTextStyle"
			textStylePreferenceValue="NONE"             
            overviewRulerPreferenceKey="tracingMessageInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="tracingMessageInVerticalRuler"
            verticalRulerPreferenceValue="false"
            highlightPreferenceKey="tracingMessageHighlighting"
            highlightPreferenceValue="true"
            colorPreferenceValue="240,248,255">
      </specification>
      <specification
            annotationType="isabelle.eclipse.ui.annotation.markup.bad"
            colorPreferenceKey="markupBadColor"
            colorPreferenceValue="255,204,204"
            highlightPreferenceKey="markupBadHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Isabelle Bad Markup"
            overviewRulerPreferenceKey="markupBadInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="2"
            textPreferenceKey="markupBadIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="markupBadTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="markupBadInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="isabelle.eclipse.ui.annotation.markup.intensify"
            colorPreferenceKey="markupIntensifyColor"
            colorPreferenceValue="255,235,194"
            highlightPreferenceKey="markupIntensifyHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Isabelle Highlight Markup"
            overviewRulerPreferenceKey="markupIntensifyInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="2"
            textPreferenceKey="markupIntensifyIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="markupIntensifyTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="markupIntensifyInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="isabelle.eclipse.ui.annotation.markup.token"
            colorPreferenceKey="markupTokenColor"
            colorPreferenceValue="240,240,240"
            highlightPreferenceKey="markupTokenHighlighting"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="Isabelle Inner Syntax"
            overviewRulerPreferenceKey="markupTokenInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            textPreferenceKey="markupTokenIndication"
            textPreferenceValue="true"
            textStylePreferenceKey="markupTokenTextStyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="markupTokenInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="isabelle.eclipse.ui.annotation.cmd.outdated"
            colorPreferenceKey="commandOutdatedColor"
            colorPreferenceValue="240,240,240"
            highlightPreferenceKey="commandOutdatedHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Isabelle Outdated Command"
            overviewRulerPreferenceKey="commandOutdatedInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="commandOutdatedIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="commandOutdatedTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="commandOutdatedInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="isabelle.eclipse.ui.annotation.cmd.unfinished"
            colorPreferenceKey="commandUnfinishedColor"
            colorPreferenceValue="255,228,225"
            highlightPreferenceKey="commandUnfinishedHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Isabelle Unfinished Command"
            overviewRulerPreferenceKey="commandUnfinishedInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="commandUnfinishedIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="commandUnfinishedTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="commandUnfinishedInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="isabelle.eclipse.ui.annotation.cmd.unprocessed"
            colorPreferenceKey="commandUnprocessedColor"
            colorPreferenceValue="255,228,225"
            highlightPreferenceKey="commandUnprocessedHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Isabelle Unprocessed Command"
            overviewRulerPreferenceKey="commandUnprocessedInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="commandUnprocessedIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="commandUnprocessedTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="commandUnprocessedInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="isabelle.eclipse.ui.annotation.cmd.failed"
            colorPreferenceKey="commandFailedColor"
            colorPreferenceValue="255,204,204"
            highlightPreferenceKey="commandFailedHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Isabelle Failed Command"
            overviewRulerPreferenceKey="commandFailedInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            textPreferenceKey="commandFailedIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="commandFailedTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="commandFailedInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="isabelle.eclipse.ui.annotation.cmd.finished"
            colorPreferenceKey="commandFinishedColor"
            colorPreferenceValue="239,247,248"
            highlightPreferenceKey="commandFinishedHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Isabelle Finished Command"
            overviewRulerPreferenceKey="commandFinishedInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="commandFinishedIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="commandFinishedTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="commandFinishedInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="isabelle.eclipse.ui.annotation.legacy"
            markerType="isabelle.eclipse.ui.markerLegacy"
            markerSeverity="1">
      </type>
      <type
            name="isabelle.eclipse.ui.annotation.tracing">
      </type>
      <type
            name="isabelle.eclipse.ui.annotation.markup.bad">
      </type>
      <type
            name="isabelle.eclipse.ui.annotation.markup.intensify">
      </type>
      <type
            name="isabelle.eclipse.ui.annotation.markup.token">
      </type>
      <type
            name="isabelle.eclipse.ui.annotation.cmd.outdated">
      </type>
      <type
            name="isabelle.eclipse.ui.annotation.cmd.unfinished">
      </type>
      <type
            name="isabelle.eclipse.ui.annotation.cmd.unprocessed">
      </type>
      <type
            name="isabelle.eclipse.ui.annotation.cmd.failed">
      </type>
      <type
            name="isabelle.eclipse.ui.annotation.cmd.finished">
      </type>
      <type
            markerSeverity="0"
            markerType="isabelle.eclipse.ui.markerInfo"
            name="isabelle.eclipse.ui.annotation.info"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="isabelle.eclipse.ui.category.theory"
            name="Isabelle Theory">
      </category>
      <command
            categoryId="isabelle.eclipse.ui.category.theory"
            description="Move Prover To Selected Theory Line"
            id="isabelle.eclipse.ui.editor.submitToPoint"
            name="Go To Point">
      </command>
      <command
            categoryId="isabelle.eclipse.ui.category.theory"
            description="Open Definition of Element at Cursor Position"
            id="isabelle.eclipse.ui.editor.openDefinition"
            name="Open Definition">
      </command>
      <command
            categoryId="isabelle.eclipse.ui.category.theory"
            description="Increase Isabelle editor font by 1 point"
            id="isabelle.eclipse.ui.editor.fontIncrease"
            name="Increase Isabelle Font">
      </command>
      <command
            categoryId="isabelle.eclipse.ui.category.theory"
            description="Decrease Isabelle editor font by 1 point"
            id="isabelle.eclipse.ui.editor.fontDecrease"
            name="Decrease Isabelle Font">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="isabelle.eclipse.ui.actions.SubmitToPointCommand"
            commandId="isabelle.eclipse.ui.editor.submitToPoint">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="isabelle.eclipse.ui.theoryEditor">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="isabelle.eclipse.ui.theoryEditor1">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="isabelle.eclipse.ui.actions.OpenDefinitionCommand"
            commandId="isabelle.eclipse.ui.editor.openDefinition">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="isabelle.eclipse.ui.theoryEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="isabelle.eclipse.ui.actions.FontIncreaseCommand"
            commandId="isabelle.eclipse.ui.editor.fontIncrease">
      </handler>
      <handler
            class="isabelle.eclipse.ui.actions.FontDecreaseCommand"
            commandId="isabelle.eclipse.ui.editor.fontDecrease">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="isabelle.eclipse.ui.main.toolbar">
            <command
                  commandId="isabelle.eclipse.ui.editor.submitToPoint"
                  icon="icons/submit_point.png"
                  label="Go To Point"
                  style="push">
            </command>
            <command
                  commandId="isabelle.eclipse.ui.editor.fontIncrease"
                  icon="icons/font_increase.gif"
                  style="push">
            </command>
            <command
                  commandId="isabelle.eclipse.ui.editor.fontDecrease"
                  icon="icons/font_decrease.gif"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:navigate?after=open.ext">
         <command
               commandId="isabelle.eclipse.ui.editor.openDefinition"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="isabelle.eclipse.ui.main.menu"
               label="Isabelle">
            <command
                  commandId="isabelle.eclipse.ui.editor.fontIncrease"
                  icon="icons/font_increase.gif"
                  style="push">
            </command>
            <command
                  commandId="isabelle.eclipse.ui.editor.fontDecrease"
                  icon="icons/font_decrease.gif"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="isabelle.eclipse.ui.editor.submitToPoint"
            contextId="isabelle.eclipse.ui.theoryEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Shift+M1+Enter">
      </key>
      <key
            commandId="isabelle.eclipse.ui.editor.openDefinition"
            contextId="isabelle.eclipse.ui.theoryEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
      <key
            commandId="isabelle.eclipse.ui.editor.fontIncrease"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1++">
      </key>
      <key
            commandId="isabelle.eclipse.ui.editor.fontIncrease"
            platform="cocoa"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+=">
      </key>
      <key
            commandId="isabelle.eclipse.ui.editor.fontDecrease"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+-">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Editing Isabelle Theory Files"
            id="isabelle.eclipse.ui.theoryEditorScope"
            name="Editing Isabelle Theory"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="isabelle.eclipse.ui.theoryEditor"
            name="Theory Editor">
         <context
               type="isabelle.eclipse.ui.editors.TheoryEditor">
         </context>
      </target>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="isabelle.eclipse.ui.preferences.IsabelleUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="isabelle.eclipse.ui.perspective.IsabelleTheoryPerspective"
            icon="icons/isabelle.png"
            id="isabelle.eclipse.ui.theoryPerspective"
            name="Isabelle">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="isabelle.eclipse.ui.theoryPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="isabelle.eclipse.ui.theoryPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut
               id="isabelle.eclipse.ui.theoryPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="isabelle.eclipse.ui.preferences.IsabelleBasePreferencePage"
            id="isabelle.eclipse.ui.preferences.IsabelleBasePreferencePage"
            name="Isabelle">
      </page>
      <page
            category="isabelle.eclipse.ui.preferences.IsabelleBasePreferencePage"
            class="isabelle.eclipse.ui.preferences.SyntaxColoringPreferencePage"
            id="isabelle.eclipse.ui.preferences.SyntaxColoringPreferencePage"
            name="Syntax Coloring">
      </page>
   </extension>

</plugin>
