<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="org.eclipse.ui.externaltools"
            delegate="isabelle.eclipse.launch.config.AppBundleLaunch"
            id="isabelle.eclipse.launch.isabelleApp"
            modes="run"
            name="Isabelle Mac App">
      </launchConfigurationType>
      <launchConfigurationType
            category="org.eclipse.ui.externaltools"
            delegate="isabelle.eclipse.launch.config.RootDirLaunch"
            id="isabelle.eclipse.launch.isabelleRoot"
            modes="run"
            name="Isabelle">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="isabelle.eclipse.launch.isabelleApp"
            icon="icons/isabelle.png"
            id="isabelle.eclipse.launch.icon.isabelleApp">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="isabelle.eclipse.launch.isabelleRoot"
            icon="icons/isabelle.png"
            id="isabelle.eclipse.launch.icon.isabelleRoot">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="isabelle.eclipse.launch.tabs.AppBundleTabGroup"
            description="Configure Isabelle theorem prover installed as an application bundle under Mac OS X"
            id="isabelle.eclipse.launch.tabGroup.isabelleApp"
            type="isabelle.eclipse.launch.isabelleApp">
      </launchConfigurationTabGroup>
	<launchConfigurationTabGroup
            class="isabelle.eclipse.launch.tabs.RootDirTabGroup"
            description="Configure Isabelle theorem prover by indicating the installation directory"
            id="isabelle.eclipse.launch.tabGroup.isabelleRoot"
            type="isabelle.eclipse.launch.isabelleRoot">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
