---
layout: top
---

<!-- Masthead
  ================================================== -->
  <header class="jumbotron subhead" id="overview">
    <div class="row">
      <div class="span9">
        <h1>
          <img src="{{ site.baseurl }}/images/isabelle-logo.svg" type="image/svg+xml" class="isabelle-svg" />
          <span class="isabelle-eclipse">Isabelle<span class="slash-eclipse">/<span class="eclipse">Eclipse</span></span></span>
        </h1>
        <p class="lead">{{site.description}}</p>
      </div>
      <div class="span3 download-area">
        <p>
          <a class="btn btn-large btn-primary btn-block" type="button" href="http://sourceforge.net/projects/isabelleeclipse/files/isabelle2013/isabelle-eclipse-ide/nightly/">Get Isabelle/Eclipse IDE</a>
        </p>
        <p>
          <a class="btn btn-large btn-info btn-block" type="button" href="http://andriusvelykis.github.com/isabelle-eclipse/updates/isabelle2013/nightly/">Use update site</a>
        </p>
      </div>
    </div>
  </header>

  <div id="content">
{{ content }}
  </div>
